body {
  margin: 0;
  max-width: 100%;
}

.nav {
  height: 44px;
  background-color: white;
  display: flex;
  flex: 1;
  align-items: center;
  padding: 8px 24px 8px 24px;
  border-bottom: 4px lightgray solid;
}

.icon {
  color: grey;
  margin: 8px;
}

.youtube-icon {
  color: red;
}

.buttons-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.main-container {
  display: flex;
  padding: 24px 8px 24px 24px;
}

.left-container {
  width: 100%;
}

.right-container {
  width: 66%;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.video-list {
  padding-left: 8px;
  padding-right: 8px;
}

.video-list-item {
  display: inline-flex;
  margin: 2px;
  background-color: white;
}

.video-title {
  margin: 0;
}

.subheading {
  margin: 0;
}
.description-video-container {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

h4 {
  margin: 0;
}
.row {
  display: flex;
  flex: 1;
}

.video-buttons-container {
  display: flex;
  align-items: center;
}

.video-button-item {
  color: grey;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0px 16px 0px 16px;
}

#video-name {
  margin-top: 16px;
  font-size: 1.33rem;
}
.col-account-icons{
  display: flex;
  flex: 1;
}
.column-description{
  flex-direction: column;
  align-items: center;
}
#img-avatar{
  width: auto;
  height: 8vh;
  border-radius: 50px;
  margin: 8px;
}