body {
  margin: 0;
  max-width: 100%;
  background-color: lightgray;
}

.nav {
  height: 44px;
  background-color: white;
  display: flex;
  flex: 1;
  align-items: center;
  padding: 8px 24px 8px 24px;
}

.icon {
  color: grey;
  margin: 8px;
}

.youtube-icon {
  color: red;
}

.buttons-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.main-container {
  display: flex;
  padding: 24px 8px 24px 24px;
}

.left-container {
  width: 100%;
}

.right-container {
  width: 66%;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.video-list {
  padding-left: 8px;
  padding-right: 8px;
}

.video-list-item {
  display: inline-flex;
  margin: 2px;
  background-color: white;
}

.video-title {
  margin: 0;
}

.subheading {
  margin: 0;
}
.description-video-container{
  display: flex;

}
.col{
  display: flex;
  flex-direction: column;

}
h4{
  margin:0;
}
.row{
  display: flex;
  flex:1;
}